@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

body {
  background-color: #212121;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}
.wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  height: 72px;
  margin: 0 auto;
}
.wrapper .header .header-a-menu {
  max-width: 269px;
  height: 16px;
}
.wrapper .header .header-a-menu ul {
  display: flex;
  justify-content: space-between;
}
.wrapper .header .header-a-menu ul li a {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .header .header-button {
  width: 158px;
  height: 40px;
  background: #000;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .section-1 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(0, 0, 0);
}
.wrapper .section-1 .sec-1-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #000;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p1 {
  max-width: 387px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p2 {
  max-width: 387px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-1 .sec-1-img {
  overflow: hidden;
}
.wrapper .section-2 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(255, 255, 255);
}
.wrapper .section-2 .sec-2-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #fff;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p1 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p2 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-2 .sec-2-img {
  overflow: hidden;
}
.wrapper .section-3 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(255, 255, 255);
}
.wrapper .section-3 .sec-3-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #fff;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p1 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p2 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-3 .sec-3-img {
  overflow: hidden;
}
.wrapper .main-forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  height: 500px;
  background-color: aqua;
}
.wrapper .main-forms .form-1 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-color: red;
  background-image: url(../img/main-form1-img.png);
}
.wrapper .main-forms .form-1 .form-1-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-1 .form-1-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-1 .form-1-menu .form1-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-2 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-color: red;
  background-image: url(../img/main-form2-img.png);
}
.wrapper .main-forms .form-2 .form-2-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-2 .form-2-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-2 .form-2-menu .form2-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-3 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-color: red;
  background-image: url(../img/main-form3-img.png);
}
.wrapper .main-forms .form-3 .form-3-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-3 .form-3-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-3 .form-3-menu .form3-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-4 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-color: red;
  background-image: url(../img/main-form4-img.png);
}
.wrapper .main-forms .form-4 .form-4-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-4 .form-4-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-4 .form-4-menu .form4-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */