@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

body {
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}
.wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  height: 72px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper .header .header-a-menu {
  max-width: 269px;
  height: 16px;
}
.wrapper .header .header-a-menu ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.wrapper .header .header-a-menu ul li a {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .header .header-button {
  width: 158px;
  height: 40px;
  background: #000;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
}
.wrapper .section-1 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(0, 0, 0);
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper .section-1 .sec-1-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #000;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p1 {
  max-width: 387px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p2 {
  max-width: 387px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-1 .sec-1-img {
  overflow: hidden;
}
.wrapper .section-2 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper .section-2 .sec-2-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #fff;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p1 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p2 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-2 .sec-2-img {
  overflow: hidden;
}
.wrapper .section-3 {
  display: flex;
  max-width: 1440px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper .section-3 .sec-3-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
  height: 650px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu {
  width: 100%;
  max-width: 387px;
  height: 304px;
  background-color: #fff;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p1 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p2 {
  max-width: 387px;
  color: #000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 21px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: transparent;
  margin-top: 48px;
}
.wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button img {
  position: relative;
  top: 4px;
}
.wrapper .section-3 .sec-3-img {
  overflow: hidden;
}
.wrapper .main-forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  height: 500px;
}
.wrapper .main-forms .form-1 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-image: url(../img/main-form1-img.png);
  cursor: pointer;
}
.wrapper .main-forms .form-1:hover {
  transition: 0.5s;
  transform: translateY(-30px);
  border-bottom: 6px solid #BC7198;
}
.wrapper .main-forms .form-1 .form-1-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-1 .form-1-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-1 .form-1-menu .form1-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-2 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-image: url(../img/main-form2-img.png);
  cursor: pointer;
}
.wrapper .main-forms .form-2:hover {
  transition: 0.5s;
  transform: translateY(-30px);
  border-bottom: 6px solid #BC7198;
}
.wrapper .main-forms .form-2 .form-2-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-2 .form-2-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-2 .form-2-menu .form2-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-3 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-image: url(../img/main-form3-img.png);
  cursor: pointer;
}
.wrapper .main-forms .form-3:hover {
  transition: 0.5s;
  transform: translateY(-30px);
  border-bottom: 6px solid #BC7198;
}
.wrapper .main-forms .form-3 .form-3-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-3 .form-3-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-3 .form-3-menu .form3-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .main-forms .form-4 {
  width: 100%;
  max-width: 360px;
  height: 500px;
  background-image: url(../img/main-form4-img.png);
  cursor: pointer;
}
.wrapper .main-forms .form-4:hover {
  transition: 0.5s;
  transform: translateY(-30px);
  border-bottom: 6px solid #BC7198;
}
.wrapper .main-forms .form-4 .form-4-menu {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 100px;
  top: 361px;
  left: 40px;
}
.wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.wrapper .main-forms .form-4 .form-4-menu .line {
  width: 100%;
  max-width: 280px;
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  margin-top: 16px;
}
.wrapper .main-forms .form-4 .form-4-menu .form4-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1110px;
  height: 236px;
  margin-top: 120px;
  padding-left: 5px;
  padding-right: 5px;
}
.wrapper .info .info-form1 {
  max-width: 350px;
  height: 236px;
  background-image: url(../img/info-form1-img.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.wrapper .info .info-form1 .info-form1-p1 {
  position: relative;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  top: 120px;
}
.wrapper .info .info-form1 .info-form1-p2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 136px;
}
.wrapper .info .info-form2 {
  max-width: 350px;
  height: 236px;
  background-image: url(../img/info-form2-img.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.wrapper .info .info-form2 .info-form2-p1 {
  position: relative;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  top: 120px;
}
.wrapper .info .info-form2 .info-form2-p2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 136px;
}
.wrapper .info .info-form3 {
  max-width: 350px;
  height: 236px;
  background-image: url(../img/info-form3-img.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.wrapper .info .info-form3 .info-form3-p1 {
  position: relative;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  top: 120px;
}
.wrapper .info .info-form3 .info-form3-p2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 136px;
}
.wrapper .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 250px;
  background-color: #000;
  margin-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper .footer .min-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1104px;
  height: 122px;
}
.wrapper .footer .min-footer .logo-form {
  width: 100%;
  max-width: 170px;
  height: 100%;
}
.wrapper .footer .min-footer .logo-form .icons {
  margin-top: 80px;
}
.wrapper .footer .min-footer .footer-a-menu {
  width: 100%;
  max-width: 200px;
  height: 100%;
}
.wrapper .footer .min-footer .footer-a-menu ul {
  row-gap: 19px;
}
.wrapper .footer .min-footer .footer-a-menu ul li .a2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.wrapper .footer .min-footer .footer-a-menu ul li a {
  position: relative;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 19px;
}
.wrapper .footer .min-footer .footer-buttons-form {
  width: 100%;
  max-width: 255px;
  height: 100%;
}
.wrapper .footer .min-footer .footer-buttons-form .footer-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  background-color: transparent;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.wrapper .footer .min-footer .footer-buttons-form .footer-a {
  position: relative;
  top: 86px;
  color: #FFF;
  text-align: right;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5025;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
  }
  .wrapper .info {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    height: 236px;
    top: 550px;
  }
  .wrapper .footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background-color: #000;
    top: 500px;
  }
  .wrapper .footer .min-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1104px;
    height: 122px;
  }
}
@media (max-width: 1060px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
  }
  .wrapper .info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    height: 236px;
    margin-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .info .info-form1 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form1-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }
  .wrapper .info .info-form1 .info-form1-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form1 .info-form1-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .info .info-form2 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form2-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }
  .wrapper .info .info-form2 .info-form2-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form2 .info-form2-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .info .info-form3 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form3-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
  }
  .wrapper .info .info-form3 .info-form3-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form3 .info-form3-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background-color: #000;
    top: 700px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
  }
  .wrapper .section-1 {
    display: flex;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(0, 0, 0);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-1 .sec-1-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #000;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p1 {
    max-width: 387px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p2 {
    max-width: 387px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 21px;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-1 .sec-1-img {
    width: 100%;
    max-width: 273px;
    height: 650px;
    overflow: hidden;
  }
  .wrapper .section-2 {
    display: flex;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-2 .sec-2-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #fff;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p1 {
    max-width: 387px;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p2 {
    max-width: 387px;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 21px;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-2 .sec-2-img {
    width: 100%;
    max-width: 273px;
    height: 650px;
    overflow: hidden;
  }
  .wrapper .section-3 {
    display: flex;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-3 .sec-3-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #fff;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p1 {
    max-width: 387px;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p2 {
    max-width: 387px;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 21px;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-3 .sec-3-img {
    width: 100%;
    max-width: 273px;
    height: 650px;
    overflow: hidden;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
  }
  .wrapper .main-forms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    height: 500px;
  }
  .wrapper .main-forms .form-1 {
    width: 100%;
    max-width: 375px;
    height: 375px;
    background-image: url(../img/main-form1-mobile-img.png);
    cursor: pointer;
  }
  .wrapper .main-forms .form-1:hover {
    transition: 0.5s;
    transform: translateY(-30px);
    border-bottom: 6px solid #BC7198;
  }
  .wrapper .main-forms .form-1 .form-1-menu {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 100px;
    top: 236px;
    left: 33px;
  }
  .wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p1 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .wrapper .main-forms .form-1 .form-1-menu .form-1-menu-p2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
  }
  .wrapper .main-forms .form-1 .form-1-menu .line {
    width: 100%;
    max-width: 280px;
    height: 1px;
    opacity: 0.25;
    background: #FFF;
    margin-top: 16px;
  }
  .wrapper .main-forms .form-1 .form-1-menu .form1-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .main-forms .form-2 {
    width: 100%;
    max-width: 375px;
    height: 375px;
    background-image: url(../img/main-form2-mobile-img.png);
    cursor: pointer;
  }
  .wrapper .main-forms .form-2:hover {
    transition: 0.5s;
    transform: translateY(-30px);
    border-bottom: 6px solid #BC7198;
  }
  .wrapper .main-forms .form-2 .form-2-menu {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 100px;
    top: 236px;
    left: 33px;
  }
  .wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p1 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .wrapper .main-forms .form-2 .form-2-menu .form-2-menu-p2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
  }
  .wrapper .main-forms .form-2 .form-2-menu .line {
    width: 100%;
    max-width: 280px;
    height: 1px;
    opacity: 0.25;
    background: #FFF;
    margin-top: 16px;
  }
  .wrapper .main-forms .form-2 .form-2-menu .form2-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .main-forms .form-3 {
    width: 100%;
    max-width: 375px;
    height: 375px;
    background-image: url(../img/main-form3-mobile-img.png);
    cursor: pointer;
  }
  .wrapper .main-forms .form-3:hover {
    transition: 0.5s;
    transform: translateY(-30px);
    border-bottom: 6px solid #BC7198;
  }
  .wrapper .main-forms .form-3 .form-3-menu {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 100px;
    top: 236px;
    left: 33px;
  }
  .wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p1 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .wrapper .main-forms .form-3 .form-3-menu .form-3-menu-p2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
  }
  .wrapper .main-forms .form-3 .form-3-menu .line {
    width: 100%;
    max-width: 280px;
    height: 1px;
    opacity: 0.25;
    background: #FFF;
    margin-top: 16px;
  }
  .wrapper .main-forms .form-3 .form-3-menu .form3-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .main-forms .form-4 {
    width: 100%;
    max-width: 375px;
    height: 375px;
    background-image: url(../img/main-form4-mobile-img.png);
    cursor: pointer;
  }
  .wrapper .main-forms .form-4:hover {
    transition: 0.5s;
    transform: translateY(-30px);
    border-bottom: 6px solid #BC7198;
  }
  .wrapper .main-forms .form-4 .form-4-menu {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 100px;
    top: 236px;
    left: 33px;
  }
  .wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p1 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .wrapper .main-forms .form-4 .form-4-menu .form-4-menu-p2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
  }
  .wrapper .main-forms .form-4 .form-4-menu .line {
    width: 100%;
    max-width: 280px;
    height: 1px;
    opacity: 0.25;
    background: #FFF;
    margin-top: 16px;
  }
  .wrapper .main-forms .form-4 .form-4-menu .form4-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .info {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    height: 236px;
    top: 1060px;
  }
  .wrapper .footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background-color: #000;
    top: 1200px;
  }
  .wrapper .footer .min-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1104px;
    height: 122px;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
  }
  .wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    height: 72px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .header .header-a-menu {
    display: none;
    max-width: 269px;
    height: 16px;
  }
  .wrapper .header .header-a-menu ul {
    display: flex;
    justify-content: space-between;
  }
  .wrapper .header .header-a-menu ul li a {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .header .header-button {
    display: none;
    width: 158px;
    height: 40px;
    background: #000;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .wrapper .header .hamburger {
    width: 20px;
    height: 6px;
  }
  .wrapper .header .hamburger .d {
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  .wrapper .header .hamburger div {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: #000000;
  }
  .wrapper .section-1 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(0, 0, 0);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-1 .sec-1-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
    margin: 0 auto;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #000;
    justify-self: center;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p1 {
    max-width: 318px;
    text-align: center;
    color: #FFF;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-min-menu-p2 {
    text-align: center;
    max-width: 318px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 11px;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-1 .sec-1-menu .sec-1-min-menu .sec-1-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-1 .sec-1-img {
    max-width: 830px;
    height: 650px;
    overflow: hidden;
  }
  .wrapper .section-2 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-2 .sec-2-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
    margin: 0 auto;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #fff;
    justify-self: center;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p1 {
    text-align: center;
    max-width: 318px;
    color: #000;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-min-menu-p2 {
    text-align: center;
    max-width: 318px;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 11px;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-2 .sec-2-menu .sec-2-min-menu .sec-2-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-2 .sec-2-img {
    max-width: 830px;
    height: 650px;
    overflow: hidden;
  }
  .wrapper .section-3 {
    display: flex;
    flex-direction: column-reverse;
    max-width: 1440px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .section-3 .sec-3-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
    height: 650px;
    margin: 0 auto;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu {
    width: 100%;
    max-width: 387px;
    height: 304px;
    background-color: #fff;
    justify-self: center;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p1 {
    text-align: center;
    max-width: 318px;
    color: #000;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-min-menu-p2 {
    text-align: center;
    max-width: 318px;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 11px;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    background-color: transparent;
    margin-top: 48px;
  }
  .wrapper .section-3 .sec-3-menu .sec-3-min-menu .sec-3-button img {
    position: relative;
    top: 4px;
  }
  .wrapper .section-3 .sec-3-img {
    max-width: 830px;
    height: 650px;
    overflow: hidden;
  }
  .wrapper .info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    height: 236px;
    margin-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper .info .info-form1 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form1-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
  }
  .wrapper .info .info-form1 .info-form1-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form1 .info-form1-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .info .info-form2 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form2-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
  }
  .wrapper .info .info-form2 .info-form2-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form2 .info-form2-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .info .info-form3 {
    max-width: 350px;
    height: 236px;
    background-image: url(../img/info-form3-img.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }
  .wrapper .info .info-form3 .info-form3-p1 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    top: 120px;
  }
  .wrapper .info .info-form3 .info-form3-p2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 136px;
  }
  .wrapper .footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background-color: #000;
    top: 1450px;
  }
  .wrapper .footer .min-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1104px;
    height: 122px;
  }
}
@media (max-width: 665px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
  }
  .wrapper .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 439px;
    background-color: #000;
    margin-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper .footer .min-footer {
    width: 100%;
    max-width: 1104px;
    height: 227px;
  }
  .wrapper .footer .min-footer .logo-form {
    width: 100%;
    max-width: 170px;
    height: 200px;
    margin: 0 auto;
  }
  .wrapper .footer .min-footer .logo-form img {
    margin-top: 50px;
  }
  .wrapper .footer .min-footer .logo-form .icons {
    margin-top: 80px;
  }
  .wrapper .footer .min-footer .footer-a-menu {
    width: 100%;
    max-width: 80px;
    height: 100px;
    margin: 0 auto;
  }
  .wrapper .footer .min-footer .footer-a-menu ul {
    margin: 0 auto;
    row-gap: 19px;
  }
  .wrapper .footer .min-footer .footer-a-menu ul li {
    margin: 0 auto;
  }
  .wrapper .footer .min-footer .footer-a-menu ul li .a2 {
    text-align: center;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .wrapper .footer .min-footer .footer-a-menu ul li a {
    position: relative;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .wrapper .footer .min-footer .footer-buttons-form {
    margin-top: 10px;
    width: 100%;
    max-width: 255px;
    height: 100%;
    margin: 0 auto;
  }
  .wrapper .footer .min-footer .footer-buttons-form .footer-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    background-color: transparent;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    justify-self: center;
  }
  .wrapper .footer .min-footer .footer-buttons-form .footer-a {
    position: relative;
    top: 86px;
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5025;
  }
}/*# sourceMappingURL=style.css.map */